<% answer = Answer.find_by program: program, question: question, year: year %>

<%= form_for(answer, remote: true, format: :json) do |f| %>
  <div class="field">
    <div><%= f.text_area :answer, id: dom_id(answer)  %></div>
  </div>

  <div class="actions">
    <%= f.submit 'Save', :class => 'btn btn-default' %>

    <%= link_to [program, year], class: 'btn btn-default',  :confirm => 'Cancel without saving?' do %>
      Cancel
    <% end %>

    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Copy Previous <span class="caret"></span>
  	</button>
    <ul class="dropdown-menu" role="menu" id="year-menu-<%=answer.id%>">
    	<% @years.each do |year| %>
    		<li>
    			<%= link_to year.year, answer_for_params_answer_path(answer, year_id: year, program_id: program, question_id: question), class: "copyPrev", remote:true %>
    		</li>
    	<% end %>
  	</ul>

  	
  </div>
<% end %>

