<% answer = Answer.find_by program: program, question: question, year: year %>
<% unless answer.blank? %>
<%= form_for(answer, remote: true, format: :js) do |f| %>
  <div class="field">
    <div><%= f.text_area :answer, id: dom_id(answer), class: 'answer-area'  %></div>
  </div>

  <div class="actions">
    <div class="span-4">
    <%= f.submit 'Save', :class => 'btn btn-default lineup' %>
  </div>

  <div class="span-4">
    <%= link_to [program, year], class: 'btn btn-default cancel lineup',  :confirm => 'Cancel without saving?' do %>
      Cancel
    <% end %>
  </div>

    <div>

      <button type="button" class="btn btn-default dropdown-toggle lineup" data-toggle="dropdown">
      Copy Previous <span class="caret"></span>
    	</button>

      <ul class="dropdown-menu year-menu" role="menu" id="year-menu-<%=answer.id%>">
      	<% @years.each do |year| %>
      		<li>
      			<%= link_to year.year, answer_for_params_answer_path(answer, year_id: year, program_id: program, question_id: question), class: "copyPrev", remote:true %>
      		</li>
      	<% end %>
    	</ul>

    </div>
    <div>

      <button type="button" class="btn btn-default dropdown-toggle lineup" data-toggle="dropdown">
      Copy Other <span class="caret"></span>
      </button>

      <ul class="dropdown-menu program-menu" role="menu" id="program-menu-<%= answer.id %>">
        <% programs = Program.where("country_id = ?", @program.country_id) %>
        <% programs.each do |program| %>
          <li>
            <%= link_to program.name, answer_for_params_answer_path(answer, year_id: year, program_id: program, question_id: question), class: "copyOther", remote: true %>
          </li>
        <% end %>
      </ul>

    </div>

  </div>
<% end %>
<% end %>

