<h1>form!</h1>
<%= form_for(@answer) do |f| %>

  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.text_field :question_id %>
  </div>

  <div class="field">
    <%= f.label :answer %><br>
    <%= f.text_field :answer %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
