<h1>New answer</h1>

<%= program %>
<%= question %>
<%= year %>

<%# answer = Answer.new(question_id: question.id) %>

  <%= form_for(@answer, remote: true, format: :js) do |f| %>
  	<%# hidden_field_tag :question_id, question.id %>
  	<%= f.hidden_field :question_id, :value => question.id %>
  	<%= f.hidden_field :program_id, :value => program.id %>
  	<%= f.hidden_field :year_id, :value => year.id %>
    <div class="field">
      <div><%= f.text_area :answer  %></div>
    </div>

    <div class="actions">
      <div class="span-4">
        <%= f.submit 'Save', :class => 'btn btn-default lineup' %>
      </div>
    </div>

<% end %>

