<%= form_for [@program, @year] do |f| %>
  <% if @year.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@year.errors.count, "error") %> prohibited this year from being saved:</h2>

      <ul>
      <% @year.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Leaving as an example of a Rails-generated form field -->
  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <!-- /example -->

  <div>
    <% @questions.each do |question| %>
    <%#= render "answers/edit" %>
    <div class="field">
      <div><%= f.label question.question %>, Question ID: <%= question.id %></div>
      <div><%= text_field_tag "questions[#{question.id}][answer]", answer_for_question(question, @program, @year)%></div>
    </div> 
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit 'Save', :class => 'btn' %>
    <%= link_to program_year_path, class: 'btn', :confirm => 'Cancel without saving?' do %>
      Cancel
    <% end %>
  </div>
<% end %>
