<h2><%= @program.name %>, <%= @year.year %></h2>

<h3>Year ID: <%= @year.id %></h3>
<h3>Program ID: <%= @program.id %>, </h3>
<div>
	<% @questions.each do |question| %>
		<div>Question ID: <%= question.id %>, <%= question.question.html_safe %></div>
		<div><em><%= answer_for_question(question, @program, @year) %></em></div>
	<% end %>
</div>
