<h2><%= @program.name %>, <%= @year.year %></h2>
<div>

	<ul class="tabs">
		<% @tabs.each do |tab| %>
			<li><a href="#<%= tab.name %>"><%= tab.name %></a></li>
		<% end %>
	</ul>
	
	<% @tabs.each do |tab| %>
		<div class="tab" id="<%= tab.name %>">
			<% questions = Question.where(tab_id: tab.id) %>
			<% questions.each do |question| %>
				<div class="row answer-partial">
					<div>
						Question ID: <%= question.id %>, <%= question.question.html_safe %>
					</div>
					<% answer = answer_for_question(question, @program, @year) %>
					<% unless answer.blank? %>
						<div id="static_answer_<%= answer.id %>">
							<%= simple_format h answer.answer %>
							<a href="" class="toggleLink" id="<%= question.id %>">Edit</a>
						</div>
					<% end %>
					<div class="toggleField" id="field_<%= question.id %>" style="display: none;">
						<%= render partial: "answers/edit", locals: { year: @year, program: @program, question: question } %>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>
	
</div>